@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
@model DataTable;

<div class="d-flex flex-row justify-content-between" style="margin-bottom:20px">

    <div class="pagetitle">
        <h3>Discount List</h3>
    </div>

    <div>
        <a class="btn bg-success text-white" asp-area="MST_Discount" asp-controller="Discount" asp-action="DiscountAddEdit">Add</a>
    </div>

</div>

<div class="card">

    <div class="card-body">

        <table class="table table-light table-striped table-borderless text-center mt-3">
            <thead class="table-light">
            <th>Product Name</th>
            <th>Amount</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th colspan="2">Action</th>
            </thead>
            <tbody id="sample_2">
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <form method="post" asp-action="MST_Discount" asp-controller="Discount" asp-action="DiscountSelectByID">
                            <input type="hidden" name="DiscountID" value="@int.Parse(dr["DiscountID"].ToString())" />
                        </form>
                        <td>@dr["ProductName"]</td>
                        <td>@dr["Amount"]</td>
                        <td>@dr["StartDate"]</td>
                        <td>@dr["EndDate"]</td>
                        <td>
                            <form method="post" asp-area="MST_Discount" asp-controller="Discount" asp-action="DiscountAddEdit" asp-route-DiscountID="@dr["DiscountID"]">
                                <button type="submit" value="Edit" class="btn bg-warning text-dark align-text-center pr-7 pl-7">Edit</button>
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>