@using System.Data
@using Inventory_management_system.Areas.MST_Company.Models;
@model CompanyModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-row justify-content-between" style="margin-bottom:20px">

    <div class="pagetitle">
        <h3>Company Add & Edit</h3>
        @*<nav>
        <ol class="breadcrumb border-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">City</li>
        </ol>
        </nav>*@
    </div>
</div>

<div class="card">

    <div class="card-body">

        <form class="form-sample mt-4" method="post" asp-area="MST_Company" asp-controller="Company" asp-action="CompanyAddEditMethod">
            <div class="row d-flex flex-row justify-content-around ">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="form-label">Company Name</label>
                        <input type="text" class="form-control" value="@Model.CompanyName" asp-for="CompanyName" />
                        <span asp-validation-for="CompanyName" class="font-green-sharp" style="font-size:13px ; color:red"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="form-label">ContactNumber</label>
                        <input type="text" class="form-control" value="@Model.ContactNumber" asp-for="ContactNumber" />
                        <span asp-validation-for="ContactNumber" class="font-green-sharp" style="font-size:13px ; color:red"></span>

                    </div>
                </div>
            </div>
            <div class="row d-flex flex-row justify-content-around">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" value="@Model.Email" asp-for="Email" />
                        <span asp-validation-for="Email" class="font-green-sharp" style="font-size:13px ; color:red"></span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" value="@Model.Address" asp-for="Address" />
                        <span asp-validation-for="Address" class="font-green-sharp" style="font-size:13px ; color:red"></span>
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-row" style="margin-left:72px">
                <input type="hidden" name="CompanyID" value="@Model.CompanyID" />
                <button type="submit" value="Save" class="btn bg-primary text-white mb-2 mt-3">Save</button>
            </div>

        </form>

    </div>

</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}